html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* LEGEND VIEW */

#legendView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#legendContainer {
  position: relative; /* IMPORTANT FIX */
  width: 95%;
  max-width: 900px;
}

/* BASE */

#baseLegend {
  width: 100%;
  display: block;
}

/* SLICES */

.slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  opacity: 1;

  cursor: pointer;
}

.slice:hover {
  opacity: 0.25;
}

/* PDF VIEW */

#pdfView {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: white;
}

.toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#pdfFrame {
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}